In [ ]:
# Import modules
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import utils.data_preprocessor as dp
from importlib import reload
# add reload to ensure we have latest working version in cache
reload(dp)

In [19]:

# Reading in the csv files
stock_data = dp.read_data('data/stock_data.csv')
unemployment = dp.read_data('data/SeriesReport.csv')

In [ ]:
# Print list of missing values per column and preview of df
dp.print_missing(stock_data)
stock_data.head()

dt has 0 missing values
vix has 0 missing values
sp500 has 0 missing values
sp500_volume has 0 missing values
djia has 0 missing values
djia_volume has 0 missing values
hsi has 0 missing values
ads has 0 missing values
us3m has 0 missing values
joblessness has 0 missing values
epu has 0 missing values
GPRD has 0 missing values
prev_day has 0 missing values

,dt,vix,sp500,sp500_volume,djia,djia_volume,hsi,ads,us3m,joblessness,epu,GPRD,prev_day
0,1990-01-03,18.19,358.760010,192330000.0,2809.73,23.62,2858.699951,-0.229917,7.89,3,100.359178,75.408051,359.690002
1,1990-01-04,19.22,355.670013,177000000.0,2796.08,24.37,2868.000000,-0.246065,7.84,3,100.359178,56.085804,358.760010
2,1990-01-05,20.11,352.200012,158530000.0,2773.25,20.29,2839.899902,-0.260393,7.79,3,100.359178,63.847675,355.670013
3,1990-01-08,20.26,353.790009,140110000.0,2794.37,16.61,2816.000000,-0.291750,7.79,3,100.359178,102.841156,352.200012
4,1990-01-09,22.20,349.619995,155210000.0,2766.00,15.80,2822.000000,-0.297326,7.80,3,100.359178,138.435669,353.790009

In [25]:
# Print list of missing values per column and preview of df
dp.print_missing(unemployment)
unemployment.head()

Year has 0 missing values
Jan has 0 missing values
Feb has 0 missing values
Mar has 0 missing values
Apr has 0 missing values
May has 0 missing values
Jun has 0 missing values
Jul has 0 missing values
Aug has 0 missing values
Sep has 0 missing values
Oct has 0 missing values
Nov has 0 missing values
Dec has 0 missing values

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  1990  5.4  5.3  5.2  5.4  5.4  5.2  5.5  5.7  5.9  5.9  6.2  6.3
1  1991  6.4  6.6  6.8  6.7  6.9  6.9  6.8  6.9  6.9  7.0  7.0  7.3
2  1992  7.3  7.4  7.4  7.4  7.6  7.8  7.7  7.6  7.6  7.3  7.4  7.4
3  1993  7.3  7.1  7.0  7.1  7.1  7.0  6.9  6.8  6.7  6.8  6.6  6.5
4  1994  6.6  6.6  6.5  6.4  6.1  6.1  6.1  6.0  5.9  5.8  5.6  5.5

In [ ]:
# Converting the Observation Date Variable to a Datetime Variable
stock_data['dt'] = pd.to_datetime(stock_data['dt'])

# Unpivoting the Unemployment Data
unemployment_unpivot = unemployment.melt(id_vars='Year', var_name='Month', value_name='Unemployment Percent')

# Extracting the Year and Month from the Observation Date
stock_data['Year'] = stock_data['dt'].dt.year
stock_data['Month'] = stock_data['dt'].dt.month

# Replacing the Month Words with Month Numbers
month_replacement = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

# Apply the mapping
unemployment_unpivot['Month'] = unemployment_unpivot['Month'].map(month_replacement)

# Merging the two DataFrames Together
stock_data_final = pd.merge(stock_data, unemployment_unpivot, on = ['Year', 'Month'], how = 'left')

# Returning the First Five Records
stock_data_final.head()

In [ ]:
# Returning Information on the DataFrame
stock_data_final.info()

In [ ]:
# Returning Descriptive Statistics on the Data
stock_data_final.describe()

In [ ]:
# Creating a Figure to Hold all Boxplot Subplots
fig1 = plt.figure(figsize = (12, 10))

# Creating the Subplots
ax1 = fig1.add_subplot(3, 2, 1)

ax2 = fig1.add_subplot(3, 2, 2)

ax3 = fig1.add_subplot(3, 2, 3)

ax4 = fig1.add_subplot(3, 2, 4)

ax5 = fig1.add_subplot(3, 2, 5)

# Creating the Boxplot for Volatility
ax1.boxplot(x = stock_data_final['vix'], vert = False, patch_artist = True, boxprops = dict(facecolor = 'blue'))

# Setting the Title and X-Axis Label
ax1.set_title('Volatility')
ax1.set_xlabel('Volatility Index')

# Creating the Boxplot for the U.S. Treasury 3-Month Bond Yield
ax2.boxplot(x = stock_data_final['us3m'], vert = False, patch_artist = True, boxprops = dict(facecolor = 'green'))

# Setting the Title and X-Axis Label
ax2.set_title('U.S. Treasure 3-Month Bond Yield')
ax2.set_xlabel('U.S. Treasure 3-Month Bond Yield')

# Creating the Boxplot for Economic Policy Uncertainty Index
ax3.boxplot(x = stock_data_final['epu'], vert = False, patch_artist = True, boxprops = dict(facecolor = 'red'))

# Setting the Title and X-Axis Label
ax3.set_title('Economic Policy Uncertainty')
ax3.set_xlabel('Economic Policy Uncertainty Index')

# Creating the Boxplot for Geopolitical Risk Index
ax4.boxplot(x = stock_data_final['GPRD'], vert = False, patch_artist = True, boxprops = dict(facecolor = 'purple'))

# Setting the Title and X-Axis Label
ax4.set_title('Geopolitical Risk')
ax4.set_xlabel('Geopolitical Risk Index')

# Creating the Boxplot for Unemployment Percent
ax5.boxplot(x = stock_data_final['Unemployment Percent'], vert = False, patch_artist = True, boxprops = dict(facecolor = 'orange'))

# Setting the Title and X-Axis Label
ax5.set_title('Unemployment')
ax5.set_xlabel('Unemployment Percent')

# Adding Padding to the Graphs
fig1.tight_layout(pad=1.0)

# Displaying the Plot
plt.show()

In [ ]:
# Setting the Density Plot Theme
sns.set_theme(style = 'white')

# Creating a Figure to Hold all Denisty Plot Subplots
fig2 = plt.figure(figsize = (12, 10))

# Creating the Subplots
ax1 = fig2.add_subplot(3, 2, 1)

ax2 = fig2.add_subplot(3, 2, 2)

ax3 = fig2.add_subplot(3, 2, 3)

ax4 = fig2.add_subplot(3, 2, 4)

ax5 = fig2.add_subplot(3, 2, 5)

# Creating the Density Plot for Volatility
sns.kdeplot(stock_data_final['vix'], fill = True, ax = ax1, color = 'blue')

# Setting the Title and X-Axis Label
ax1.set_title('Volatility')
ax1.set_xlabel('Volatility Index')

# Creating the Density Plot for the U.S. Treasury 3-Month Bond Yield
sns.kdeplot(stock_data_final['us3m'], fill = True, ax = ax2, color = 'green')

# Setting the Title and X-Axis Label
ax2.set_title('U.S. Treasure 3-Month Bond Yield')
ax2.set_xlabel('U.S. Treasure 3-Month Bond Yield')

# Creating the Density Plot for Economic Policy Uncertainty Index
sns.kdeplot(stock_data_final['epu'], fill = True, ax = ax3, color = 'red')

# Setting the Title and X-Axis Label
ax3.set_title('Economic Policy Uncertainty')
ax3.set_xlabel('Economic Policy Uncertainty Index')

# Creating the Density Plot for Geopolitical Risk Index
sns.kdeplot(stock_data_final['GPRD'], fill = True, ax = ax4, color = 'purple')

# Setting the Title and X-Axis Label
ax4.set_title('Geopolitical Risk')
ax4.set_xlabel('Geopolitical Risk Index')

# Creating the Density Plot for Unemployment Percent
sns.kdeplot(stock_data_final['Unemployment Percent'], fill = True, ax = ax5, color = 'orange')

# Setting the Title and X-Axis Label
ax5.set_title('Unemployment')
ax5.set_xlabel('Unemployment Percent')

# Adding Padding to the Graphs
fig2.tight_layout(pad=1.0)

# Displaying the Plot
plt.show()

In [ ]:
# Selecting a Subset of Relevant Features for the purpose of Creating the Pairplot
stock_data_sample = stock_data_final[['vix', 'us3m', 'epu', 'GPRD', 'Unemployment Percent']]

# Creating the plot
plt.figure(figsize = (8, 6))

# Creating the pairplot
stock_data_pairplot = sns.pairplot(stock_data_sample)

# Creating a Plot Title
stock_data_pairplot.fig.suptitle('Correlations Among Predictor Variables', y = 1)

plt.show()

In [ ]:
# Extracting the Desired Columns
stock_data_sample = stock_data_final[['vix', 'us3m', 'epu', 'GPRD', 'Unemployment Percent']]

# Creating the Columns Variable for the for loop
columns_to_plot = stock_data_sample.columns

# Creating a Dictionary to Map the Variable Names to
column_name_mapping = {
    'vix': 'Volatility Index (VIX)',
    'us3m': 'U.S. Treasury 3-Month Bond Yield',
    'epu': 'Economic Policy Uncertainty Index',
    'GPRD': 'Geopolitical Risk Index',
    'Unemployment Percent': 'Unemployment Percent'
}

# Creating the Figure for the Q-Q Subplots
fig3, axes = plt.subplots(nrows = 3, ncols = 2, figsize = (12, 10))

# Flatten the Axes Array to Iterate over all Subplots
axes_flat = axes.flatten()

# Iterate through columns and corresponding axes and Creating the Q-Q Plots
for k, ax in zip(columns_to_plot, axes_flat):
    # Mapping the Variables to their New Names
    new_name = column_name_mapping.get(k, k)

    # Creating the Q-Q Plots
    sm.qqplot(stock_data_sample[k], line='s', ax=ax)
    ax.set_title(new_name)

# Hiding any Unused Subplots
for ax in axes_flat[len(columns_to_plot):]:
    ax.axis('off')

# Setting the Plot Title
fig3.suptitle('Q-Q Plots')

# Adding Padding to the Graphs
fig3.tight_layout(pad=1.0)

# Displaying the Plots
plt.show()